  <div>
  Hi!!
  Info on the current @user:
  <h1>
  <%= @user.nil? ? "nil!" : "not nil" %>
  </h1>
  <h2>
  of class <%= @user.class %>
  </h2>
  <h3>
  <%= @user.inspect %>
  </h3>
  </div>

<%# END OF MY EXPERIMENT %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
