<%# the below is because the user page is the redirect for a successful login %>
<%= render 'shared/flash' %>
  <div>
  Hi!!
  Info on the current @user:
  <h1>
  <%= @user.nil? ? "nil!" : "not nil" %>
  </h1>
  <h2>
  of class <%= @user.class %>
  </h2>
  <h3>
  <%= @user.inspect %>
  </h3>
  </div>

<%# END OF MY EXPERIMENT %>

<% if false %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
